@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1774338996685') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lianjie:before {
  content: "\e6c8";
}

.icon-daizhifu:before {
  content: "\e69f";
}

.icon-sim:before {
  content: "\e60a";
}

.icon-backpack:before {
  content: "\e6b4";
}

.icon-didichuhang:before {
  content: "\e736";
}

.icon-Days:before {
  content: "\e60d";
}

.icon-qianzheng:before {
  content: "\e891";
}

.icon-duigou:before {
  content: "\e627";
}

.icon-alipay:before {
  content: "\e512";
}

.icon-chepiao:before {
  content: "\e636";
}

.icon-icon_shiyongwendang:before {
  content: "\eb91";
}

.icon-xiazai:before {
  content: "\e606";
}

.icon-jinzhi:before {
  content: "\e628";
}

.icon-jisuanqi:before {
  content: "\eb18";
}

.icon-weixin:before {
  content: "\e620";
}

.icon-whatapp:before {
  content: "\e609";
}

.icon-google:before {
  content: "\e612";
}

.icon-bus-alt:before {
  content: "\e60b";
}

.icon-xinxikongxin:before {
  content: "\ed1b";
}

.icon-paypal:before {
  content: "\e68b";
}

.icon-googletranslate:before {
  content: "\e769";
}

.icon-yelp:before {
  content: "\e63c";
}

.icon-app:before {
  content: "\ec9d";
}

.icon-dazhongdianping:before {
  content: "\e77f";
}

.icon-gaodeditux:before {
  content: "\e6f5";
}

.icon-tips:before {
  content: "\e633";
}

.icon-calendar:before {
  content: "\e9ab";
}

.icon-0-58:before {
  content: "\e607";
}

.icon-anzhuang:before {
  content: "\e610";
}

.icon-Uber:before {
  content: "\e638";
}

.icon-cha:before {
  content: "\e68c";
}

.icon-baidu-copy:before {
  content: "\e604";
}

.icon-hege1:before {
  content: "\e502";
}

.icon-weixinzhifu:before {
  content: "\eb7d";
}

.icon-train-line:before {
  content: "\eb5b";
}

.icon-app1:before {
  content: "\e509";
}

.icon-icon_case_12306:before {
  content: "\e70e";
}

